/**后台公共**/
#box{
	margin:0 auto;
	background-color:#212126;
}
.main{
	background:#292930;
}
.common{
	width:1120px;
	margin:0 auto;
}
.lightgray {
	color:#a0a0a0;	
}
.green{
	color:#009245;	
}
.lightblue{
	color:#0084c8;	
}

/**没有布置作业提醒**/
.new-remind{
	background:url(../images/ts_class.jpg) no-repeat;
	width:937px;
	height:450px;
	position:relative;
}

.new-remind a{
	width:314px;
	height:57px;
	background-color:#009345;
	display:block;
	border-radius:3px;
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:57px;
	position:absolute;
	left:387px;
	top:220px;
	
}
 
/*****遮罩层*****/
#redactor_modal_overlay{
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.70;
	background-color: #333;
	text-align:center;
}
#redactor_modal_overlay a{
	background:url(../images/loading.gif) no-repeat;
	height:125px;
	line-height:125px;
	width:125px;
	display:block;
	position:absolute;
	top:40%;
	left:45%;
	color:#CCC;
} 

/****浏览器提示****/
#browser_test{
	height:42px;
	line-height:42px;
	background-color:#fff;
	/*position:absolute;*/
	width:100%;
	z-index:9999;
}

#browser_test p{
	color:#00934c;
	margin-left:100px;
	float:left;
}

#browser_test a{
	display:block;
	width:119px;
	height:29px;
	float:right;
	margin:7px 200px 0 0;
	color:#fff;
	background-color:#00934c;
	line-height:29px;
	text-align:center;
	border-radius:5px;
}


/**最上层导航**/
.navigation{	
	background: #292930 url(../images/navi_01.png) no-repeat 50px 0;
	height:82px;
	border-bottom:1px solid #3d3d41;
}

.navigation .user-center{
	font-size:14px;
	line-height:32px;
	color:#aeaeae;
	background:url(../images/logout_06.png) no-repeat left center;
	text-indent:40px;	
	float:right;
	margin:23px 20px 0 0;
}
.navigation .logout{ float:right;margin:23px 20px 0 0;background:none;text-indent: 1px;color:#009245;border:1px solid #009245;border-radius:5px;line-height:21px;padding:4px;}
/**侧边导航**/
.sidebar{
	border-right:1px solid #3d3d41;
}
.sidebar ul{
	width:119px;
}
.sidebar li{
	background-color:#292930;
}
.sidebar a.selected{
	background-color:#212126 !important;
}

.sidebar a{
	border-bottom:1px solid #3d3d41;
	text-align:center;
	display:block;
	width:119px;
	height:96px;
	font-size:14px;
	color:#aeaeae;
	line-height:135px;	
}
.sidebar a.index{
	background:url(../images/sidebar_01.png) no-repeat center 20px;
}
.sidebar a.manger-paper{
	background:url(../images/sidebar_02.png) no-repeat center 20px;
}
.sidebar a.manger-class{
	background:url(../images/sidebar_03.png) no-repeat center 20px;
}
.sidebar a.set-test{
	background:url(../images/sidebar_04.png) no-repeat center 20px;
}
.sidebar a.set-system{
	background:url(../images/sidebar_05.png) no-repeat center 20px;	
}

/**************右边主题内容***/
/**子导航**/
.sub-navigation{
	width:1000px;
	height:90px;
	border-bottom:2px solid #009245;
}
.sub-navigation a{
	float:left;
	border-right:1px solid #3d3d41;
	display:block;
	width:178px;
	height:88px;
	*height:90px;
	font-size:22px;
	color:#5e5e68;
	text-align:center;
	line-height:88px;
	text-indent:20px;
}

/*班级列表*/
.sub-navigation a.class-list{
	background:url(../images/class_01.png) no-repeat 20px center;
}
.sub-navigation a.class-list-selected{
	background:url(../images/class_02.png) no-repeat 20px center;
}
/*创建班级*/
.sub-navigation a.class-create{
	background:url(../images/class_03.png) no-repeat 20px center;
}
.sub-navigation a.class-create-selected{
	background:url(../images/class_04.png) no-repeat 20px center;
}
.sub-navigation a.selected{
	background-color:#009245;
	color:#ededed;
}
.content .detail{
	background-color:#ececec;
	border-bottom:2px solid #028d44;
	width:1000px;
	float:left;
}
.content .detail .info{
	height:91px;
	border-bottom:1px solid #dbdbdb;
	background:#ededed;	
}
/*二维码三级导航*/
.content .sub-sidebar{
	border-right:1px solid #dbdbdb;
	width:210px;
	background-color:#ececec;
}

.detail .info p{
	width:358px;
	margin:22px 0 0 21px;
}
.detail .info span{
	line-height:30px;
	padding-right:40px;
 	color:#737373;
}
.detail .class-name{
	color:#212126;
	font-size:20px;
}
.agan{margin:10px 28px 0 0!important;}
.detail .goback{
	background-color:#009245;
	border-style: none;
	float:right;
	margin:26px 12px 0 0;
	height:40px;
	line-height:24px;
	color:#ececec;
}

.detail .qrCode{
	text-align:center;
	height:246px;
	border-bottom:1px solid #dbdbdb;		
}
.detail .qrCode img{
	margin: 37px 0 8px 0;

}
.class-qrcode-img{
	border: 1px solid #C5C5C5!important;
	padding: 3px;
	border-radius: 5px;}
.detail .qrCode p{
	font-size:14px;
	color:#737373;
}
.content{
	width:1000px;
}
.content .three-navigation a{
	display:block;
	height:90px;
	line-height:90px;
	text-align:center;
	font-size:20px;
	color:#8f8f8f;
}
.content .three-navigation a:hover{background:#dedede;}
.content .three-navigation a.selected{
	background:#e7e7e7 url(../images/selected.png) no-repeat 180px center;
color: #96ADC2;
}

/*创建班级*/
.content .class-create-from{
	background-color:#ececec;
	height:625px;
}
.content .class-create-from .create-password{
	width:96px;
	height:58px; 
	border-radius:5px;
	color:#FFF; 
	margin-top:0;
	float:right;
}

.admin-icp{
	background:#292930;
	height:152px;
	color:#6c6c6c;
	text-align:center;
	line-height:152px;
}
.content .class-create-from{
	padding:50px 0 0 190px;
}
.content .class-create-from *{
	width:618px;
	height:58px;
	font-size:18px;
	margin-bottom:10px;
}
.content .class-create-from p{height:16px;font-size:14px;color:#727272;}
.content .class-create-from textarea{
	height:180px;
}
.content .form-horizontal button{
	margin-top:26px;
	height:60px;
	background-color:#009245;
}
/****创建班级结果*****/
.content .class-create-info{
	height:176px;
	border-bottom:1px solid #dbdbdb;
	overflow:hidden;
}
.content .class-detail-info{
	height:449px;
	overflow:hidden;
	background:#e4e4e4;
}
.content .class-qrcode-detail{
	height:1400px;
}
.content .class-create-info .info{
	width:978px;
	height:47px;
	color:#FFF;
	background-color:#31b6dc;
	line-height:47px;
	border-radius:5px;
	font-size:18px;
	margin:20px 0 33px 10px;
	text-indent:20px;
}
.content .class-create-info .class-name{
	display:block;
	float:left;
	padding-left:15px;
	text-indent: 15px;
line-height: 60px;
width: 500px;
color: #9a9a9a;
text-shadow: 1px 1px 0 #fff;
}

.content .class-create-info button{
	margin:0 12px 0 0;
}
.content .class-detail-info .qrCode{
	width:210px;
	border:none;
}
.content .class-detail-info .class-qrcode{
	margin-bottom:20px;
}
.content .make-qrcode{
	color:#009245;
	width:136px;
	height:28px;
	border:1px solid #009245;
	border-radius:5px;
	display:block;
	text-align:center;
	line-height:28px;
	margin:0 auto;
}
.make-qrcode:hover{background:#eeeeee;}
.content .class-detail-info .detail-info{
	padding:40px 20px 0 20px;
	width:790px;
	word-break:break-all;
	border-left: 1px solid #D5D5D5;	
}
.content .class-detail-info .detail-info p{
	line-height:40px;
	font-size:14px;
	color:#737373;
}
.teacher-qrcode .t-code img{
	width:140px !important;
	margin-top:11px;
}
.teacher-qrcode .t-code .bind-status{
	color:#009245;
	text-align:center;
	margin:0;			
}
.teacher-qrcode .t-code .remove-bind{
	color:#009245;
	width:60px;
	height:20px;
	margin:0 auto;
	margin-top:6px;
	border:1px solid #009245;
	border-radius:3px;
	display:block;		
}


/**作业队列**/
.sub-navigation .work-list{
	background:url(../images/exam_01.png) no-repeat 20px center;
} 
.sub-navigation .work-list-selected{
	background:url(../images/exam_03.png) no-repeat 20px center;
} 
.sub-navigation .work-create{
	background:url(../images/exam_04.png) no-repeat 20px center;
}
.sub-navigation .work-create-selected{
	background:url(../images/exam_02.png) no-repeat 20px center;
}

.content .exam-plan-top{
	height:106px;
}

.content .exam-plan-top a{
	width:142px;
	height:62px;
	display:block;
	border-radius:5px;
	font-size:20px;
	color:#FFF;
	line-height:62px;
	text-align:center;
	background-color:#009245;
	float:right;
	margin:20px 35px 0 0;
}

.content .exam-plan-from{
	overflow:hidden;
	padding:30px 40px 40px 42px;
}

.content .exam-plan-from .selected-work{
	width:200px;
	min-height:240px;
	overflow:overlay;
	background:#e4e4e4;
	border:1px solid #cbcbcb;
}

.content .exam-plan-from .selected-work p{
	color:#868686;
	font-size:14px;
	margin:15px 0 15px 10px;
}

.content .exam-plan-from .select-term{
	width:202px;
	margin-right:14px;
}

.content .exam-plan-from .select-term-input{
	width:155px;
	background-color:#e4e4e4;
	display:inline;
	height: 30px;
font-size: 12px;
border-radius: 3px 0 0 3px;
}

.content .exam-plan-from #search-paper,.content .exam-plan-from #search-class{
	height:30px;
	width:45px;
	color:#E4E4E4;
	border-radius:0 3px 3px 0;
	margin-bottom:2px;
	background:#009245;
}
.content .exam-plan-from .select-paper-name,.content .exam-plan-from .select-class-name{
	height:180px;
	overflow:overlay;
	background-color:#e4e4e4;
	width:200px;
	padding:10px 0 !important;
}

.content .exam-plan-from .selected-paper-name{
	height:120px;
	overflow:hidden;
	background-color:#e4e4e4;
	width:200px;
	border-top:2px solid #CCC; 
	margin-bottom:2px;		 
}

.content .exam-plan-from .paper-lists{
	height:24px;
	margin-top:5px;
	line-height:16px;
	text-indent:10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;

}
.content .exam-plan-from .classes-lists{
	line-height:30px;
	text-indent:10px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.content .exam-plan-from .classes-lists .student-lists{
	margin-left:20px;	
}

.content .exam-plan-from .paper-lists img,.content .exam-plan-from .classes-lists img{
	margin:0 5px 3px 0;
}

.content .exam-plan-from .select-classes-name{
	background-color:#e4e4e4;
	width:200px;
	height:300px;
	overflow:overlay;
}


/*
.content .exam-plan-from .selected{
	background:url(../images/radio_selected.png) no-repeat 8px center;	
}
*/

.content .exam-plan-from form{
	margin-top:40px;
}
.content .exam-plan-from .form-group{
	margin-top:50px;
} 

.content .exam-plan-from input {
	width:618px;
	height:58px;
	font-size:18px;
	*padding:0 0 0 15px;
	*line-height:54px;
}

.content input.startime,.content input.endtime{
	width:215px;
	float:left;
	background-color:#e4e4e4;
}

.content .work-duration{
	margin-top:20px;
}

.content .work-duration input{
	width:58px;
	height:58px;
	background-color:#e4e4e4;
	text-align:center;
	margin-right:60px;
}
.content .work-duration span{
	font-size:16px;
	margin:14px;
	color:#868686;
}

.content div.form-group{
	font-size:18px;
	color:#B9B9B9;
}
.content .submit-work{
	text-align:center;
}

.content div.check{
	width:482px;
	height:58px;
	border:1px solid #cbcbcb;
	border-radius:5px;
	line-height:58px;
	text-indent:10px;
	background:url(../images/checked.png) no-repeat 10px center;
	text-indent:60px;
}
.content div.checked{
	background:url(../images/checked_01.png) no-repeat 10px center;
}

.content .startime{
	margin-right:52px;	
}
.content .form-group button{
	width:618px;
	height:58px;
	background:#009245;
	color:#ececec;
	border-style:none;
}

/******系统设置-个人中心******/
.sub-navigation .personal-center{
	background: url(../images/class_01.png) no-repeat 20px center;
}
.sub-navigation .personal-center-selected{
	background: url(../images/class_02.png) no-repeat 20px center;
}
.sub-navigation .bind-wx{
	background: url(../images/class_03.png) no-repeat 20px center;
}
.sub-navigation .bind-wx-selected{
	background: url(../images/class_04.png) no-repeat 20px center;
}


/******系统设置-绑定微信******/
.detail p.wx-status{
	font-size:14px;				
	color:#292930;
	text-align:center;
	padding-top:30px;
}
.detail form.wx input{
	font-size:24px;
}
.detail .wx-status{
	color:#b3b3c6;
}
.detail .wx-status-bind{
	color:#009245;
}
.detail .need-code *{
	float:left;
}
.detail .need-code input{
	width:470px;
}
.detail .need-code img{
	width:98px;
}
.detail .need-code .changeCode{
	width:50px;
	line-height:58px;
	padding-left:10px;
}
/*班级列表*/
.content .detail .class-list{
	background-color:#ececec;
	height:625px;
}
.content .class-list .class-list-handle{
		width:1000px;
		height:88px;
		background:#ededed;
}
.class-list-handle img.allcheck{
		margin:34px 0 0 32px;	
		float:left;
		width:30px;
		height:30px;
}
.class-list-handle div.allcheck{
		font-size:13px;
		width:27px;
		height:14px;
		float:left;
		margin:41px 0 0 13px;
}
/**分页代码**/
.class-list-handle div.page {
	width:110px;
	height:32px;
	margin:33px 0 0 24px;
	float:left;
}
div.page div {
	float:left;	
}
div.page .page-num input{
	height:32px;
	width:48px;
	text-align:center;
	line-height:32px;
	*margin:-2px 0 0 0;
	border: none;
	background:#ededed;
	color:#999;
}
div.page button {
	height:32px;
	width:24px;
	background:#c6c6c6;
	color:white;
}
div.page .page-right {
	float:right;
	margin:0 14px 0 0;
	*margin:0 10px 0 0;	
}
div.page .page-right button{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	font-size:16px;
	padding-bottom:4px;
}
div.page .page-left button{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	font-size:16px;
	padding-bottom:4px;
}

/**搜索框**/
.class-list-handle div.search{
	width:280px;
	height:32px;
	float:left;
	margin:33px 0 0 49px;
}
div.search button {
	background-color:#009245;
	width:57px;
	height:32px;
	border-radius: 0 5px 5px 0;
}
div.search input {
	width:190px;
	height:32px;
	float:left;
	*padding:0;
	border-radius:5px 0 0 5px;
}
.class-list-handle #handle {
	float:right;
	width:150px;
	height:60px;
	margin:19px 14px 0 0;
	border-radius:5px;
	border:none;
	color:white;
	background:#009245;
	font-size:18px;
	
}
.class-list-handle #handle:hover{
	border-radius:5px 5px 0 0;
	background:#008840;
}
.class-list-handle .handle-menu{
	text-align:center;
	color:#a3a3a3;
	width:150px;
	position:absolute;

	font-size:14px;
	border:1px solid #cfcfcf;
	border-bottom:none;
	display:none;
}
.class-list-handle .handle-menu li {
	cursor:pointer;
	height:60px;
	line-height:60px;
	background:#e2e2e2;
	color:#009245;
	border-bottom:1px solid #cfcfcf;
	box-shadow:0 2px 5px #CCC;
}
.class-list-handle .handle-menu li:hover{
	background:#d9d9d9;
}

/**班级列表**/
.class-list-table {
	width:1000px;	
	background:#e2e2e2;
	border:1px solid #dedede;
	text-align:center;
	float:left;
}
.class-list-table .class-list-header {height:50px;color: #9C9C9C;text-shadow: 0 1px 0 #F7F7F7;font-size:14px;}
.class-list-table .class-list-header td {border-bottom:8px solid #ececec;}
.class-list-table tbody tr{width:100px;height:50px;}
.class-list-table tbody tr td:nth-child(2){width:400px;text-overflow: ellipsis;white-space: normal;overflow: hidden;}
/**学生列表**/
.student-list {width:789.9px;}
.student-list .student-list-header {
	width:787px;
	height:62px;
	background:#e7e7e7;
}
.student-list .student-list-header div.page{
	width:110px;
	height:32px;
	margin:13px 0 0 23px;
	float:left;
}
.student-list .student-list-header .search{
	width:280px;
	height:32px;
	float:left;
	margin:12px 0 0 29px;	
}
.student-list {background-color:#e7e7e7;}
.student-list .student-list-body li{
		background:#e7e7e7;
		padding: 10px 0 10px 20px;
		border-bottom:1px solid #d1d1d1;
		border-top:1px solid #ebebeb;
}
.student-list .student-list-body li span{
	font-size:18px;
	margin:0 0 0 21px;	
}
.student-list .student-list-body li a{
	font-size:18px;
	margin:49px 0 0 25px;
	color:#a8a8a8;	
}

.student-list .student-list-body li a.remark{
	width: 110px;
	border-radius: 5px;
	border: 1px solid #009245;
	margin: 0 12px 0 0;
	color: rgb(0, 146, 0);
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	float:right;
	padding:0;
}

.student-list-body-text{height:35px;}
.student-list-body-text ul li{float:left;border:none!important;padding:0 20px 0 0!important;}
.student-list-body-text p{color:#333;}
.student-list-body-text ul li:nth-child(1){width:230px;}
.student-list-body-text ul li:nth-child(2){width:230px;color:#A7263B;}
.student-list-body-text ul li:nth-child(3){width:100px;color:#009245;}
.student-list-body-text ul li:nth-child(4){width:80px;color:#009245;}
.student-list .student-list-body li .show-score{
width: 110px;
border-radius: 5px;
float: right;
border: 1px solid #009245;
margin: 0 12px 0 0;
color: rgb(0, 146, 0);
font-size: 12px;
text-align: center;
line-height: 32px;
}
.show-score:hover{ background: #f1f1f1;}
.student_img_icon{height:36px;border-radius: 1000px;border: 2px solid #F5F5F5;box-shadow: 0px 0px 2px #C0C0C0;}
.student-list .student-list-foot{height:166px;border:1px solid #dadada;}
.student-list .student-list-foot .page{
		width:110px;
		height:32px;
		margin:13px 0 0 23px;
		float:left;
}
.student-list .student-list-foot .page-bar {height:60px;border-bottom:1px solid #dadada;}
/**班级详情**/
.detail .stop{
	background-color:#009245;
	border-style: none;
	float:right;
	margin:22px 12px 0 0;
	height:40px;
	color:#ececec;	
}
.classes-info {
	width:789.9px;
	background:#e7e7e7;
}
.classes-info .classes-info-handle {
	width:789.9px;
	height:62px;
	background:#e7e7e7;
	border-bottom:1px solid #dadada;
	margin:0 0 16px 0;
}
.classes-info .classes-info-handle div.page {
	width:110px;
	height:32px;
	margin:13px 0 0 23px;
	float:left;
}
.classes-info .classes-info-handle div.time {
	width:356px;
	height:32px;
	float:left;
	margin:12px 0 0 29px;
}
div.time button {
	background-color:#009245;
	width:84px;
	height:32px;
	padding:0;
}
div.time input {
	width:270px;
	height:32px;
	float:left;
	*padding:0;	
}
.classes-info-body {
	border-bottom:1px solid #dadada;
}
.classes-info .classes-info-list {
	width:785px;
	height:88px;
	background:#fff;
	border:1px solid #dadada;
	border-bottom:none;
}
.classes-info .classes-info-list .name{
	width:101px;
	height:18px;
	font-size:18px;	
	float:left;
	margin:32px 0 0 49px;
}
.classes-info .classes-info-list .status{
	width:131px;
	height:18px;
	float:left;
	font-size:14px;
	margin:34px 0 0 78px;
}
.classes-info .classes-info-list .count {
	width:90px;
	height:20px;
	float:left;
	margin:34px 0 0 57px;
	font-size:14px;
}
.classes-info .classes-info-list button {
	background:#009245;
	color:white;
	width:114px;
	height:44px;
	float:right;
	border-radius:5px;
	margin:20px 36px 0 0;	
}
.classes-info .classes-info-foot {
	height:62px;
	border-bottom:1px solid #dadada;
}
.classes-info .classes-info-foot div.page {
	width:110px;
	height:32px;
	margin:13px 0 0 23px;
	float:left;
}
.stat-info{ padding:0; background-color:#e7e7e7;}

/**学员信息**/
.student-info {
	width:789.9px;
	/*height:1734px;*/
	background:#e7e7e7;
	padding-bottom:50px;
}
.student-info .student-info-header {
	height:162px;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
}
/**学员详情**/
.student-info .student-info-header .userinfo {
	width:500px;
	height:75px;
	margin:30px 0 0 66px;
	float:left;
}
.student-info .student-info-header .userinfo img{
float: left;
height: 72px;
border-radius: 1000px;
border: 3px solid #F5F5F5;
box-shadow: 0px 0px 3px #C0C0C0;
margin: 5px 0 0 20px;
	
}
.student-info .student-info-header .userinfo h2 {
	height:24px;
	float:left;	
	font-size:22px;
	margin:8px 0 0 35px;
}
.student-info .student-info-header .userinfo .wxnum {
	float:left;
	width:189px;
	font-size:14px;
	margin:15px 0 0 28px;
}
.student-info .student-info-header .userinfo .total {
	float:left;	
	margin:20px 0 0 35px;
	font-size:13px;
}
/**试卷详情**/
.student-info .student-info-header .userinfo-test {
	width:640px;
	height:75px;
	margin:30px 0 0 72px;
	float:left;
}
.student-info .student-info-header .userinfo-test img{
	float:left;
}
.student-info .student-info-header .userinfo-test h2 {
	height:24px;
	float:left;	
	font-size:22px;
	margin-top:8px
}
.student-info .student-info-header .userinfo-test .total {
	float:left;	
	margin:20px 0 0 0;
	font-size:13px;
	letter-spacing:2px;
}
.preset-time {
	margin-top:8px;
	color:#a0a0a0;
} 


.student-info .student-info-body {
	/*height:1573px;*/	
}
.student-info .student-info-body .usedcount,.work-info-body .usedcount{
	width:298px;
	float:left;
	margin:14px 0 0 71px;	
}
.student-info .student-info-body .rightcount,.work-info-body .rightcount{
	margin:14px 0 0 46px!important;	
}
.student-info .student-info-body h3,.work-info-body h3{
	height:22px;
	color:#949494;
}
.student-info .student-info-body div.num,.work-info-body div.num {
	background:white;
	height:101px;
	border-radius:8px;
	font-size:48px;
	text-align:left;
	padding:0 15px 0 20px;
	line-height:101px;
	color:#d0d0d0;
}
.student-info .student-info-body .stat {
	width:640px;
	height:370px;
	margin:14px 0 0 70px;	
}
.student-info .student-info-body .paper-info {
	margin:30px 0 0 72px;
	clear:both;
	width:640px;
	/*height:442px;*/
	*margin:40px 0 0 72px;
}

.student-info .student-info-rank{
	margin-top:30px;
	border-top:1px solid #d6d6d6;
} 

.student-info .student-info-rank .rank-info{
	font-size:18px;	
}

.student-info .student-info-rank .rank-all{
	background-color:#dadada;
	line-height:41px;
}

.student-info .student-info-rank .rank-score{
	color:#919191;
	font-size:16px;
	width:124px;
	border-right:4px solid #009245;
	text-align:right;
	padding-right:12px;
	height:41px;
}

.student-info .student-info-rank .rank-nickname{
	color:#232323;
	font-size:16px;
	padding-left:12px;
	height:41px;

}
.student-info-body .paper-info .title {
	font-size:14px;
	line-height:30px;
}
.student-info-body .paper-info .exam-info {
	width:633px;
	height:151px;
	clear:both;
	margin:11px 0 0 0;
}
.student-info-body .paper-info .exam-info div{
	float:left;
	width:209.5px;
	height:76px;
	line-height:76px;
	font-size:18px;
	text-align:center;
	border-right:2px solid #e2e2e2;
	border-bottom:2px solid #e2e2e2;
	background:#dadada;
}
.student-info-body .paper-info .exam-info div span.num{font-size:29px;}
.student-info-body .paper-info .paper-sort {
	width:630px;
	height:200px;
	margin:16px 0 0 0;
	
}
.student-info-body .paper-info .paper-sort li {
	width:125.1px;
	height:50px;
	display:inline-block;
	float:left;
	text-align:center;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
	line-height:50px;
	background:#009245;
	font-size:18px;
	color:white;
	font-family:'Microsoft YaHei';
}
.student-info-body .paper-info .paper-sort li.error{
	background-color:#c53e3b;
}


/**作业详情**/
.work-info {height:1572px;width:789.9px;}
.work-info-header {
	height:163px;
	float:left;
	border-bottom:1px solid #dadada;
}
.work-info-header .paper-info {
	width:365px;
	height:95px;
	margin:35px 0 0 70px;	
}
.work-info-header .paper-info p {
	float:left;
	margin:20px 0 0 0;
	font-size:14px;
	padding:0 15px 0 0;
}
.work-info-header .paper-info div.time {
	width:365px;
	clear:both;
	font-size:14px;
	padding:9px 0 0 0;
	color:#a0a0a0;
}
.work-info-body {
	border-bottom:1px solid #dadada;
	height:545px;
	float:left;
	width:100%;
}
.work-info-body .stat {
	width:673px;
	height:371px;
	background:green;
	float:left;
	margin:15px 0 0 42px;
}
.work-info-foot {float:left;width:100%}
.work-info-foot h2 {
	float:left;
	font-size:18px;
	color:#979797;
}
.work-info-foot h2.point {margin:23px 0 12px 68px;}
.work-info-foot h2.rank {margin:23px 0 12px 35px;}
.work-info-foot .list {
	background:#dadada;
	width:100%;
	border-bottom:1px solid white;
	height:41px;
	line-height:41px;
	font-size:14px;
}
.work-info-foot .list .num{
	display:block;
	margin:0 0 0 69px;
	color:#737373;
	border-right:4px solid #009245;
	height:40px;
	width:55px;
	float:left;
}
.work-info-foot .list .name{display:block;float:left;margin:0 0 0 12px;}

.work-lists,.class-lists{
	background:#FFF;
	width:618px;
	border-radius:1px;
}
.work-lists .scroll-div, .class-lists .scroll-div{
	height:120px;
}
.work-lists  .work-lists-detail,.class-lists .class-lists-detail{
	height:30px;
	line-height:30px;
	cursor:pointer;
	text-indent:12px;
}
.work-lists .work-lists-detail:hover , .class-lists .class-lists-detail:hover{
	background-color:#e4e4e4;
}

/**修改班级**/
.update-form {width:789px; height:1100px;}
.update-form .user {margin:18px 0 0 165px;color:#8a8a8a;}
.update-form .name {margin:18px 0 0 29px;color:#009245;}
.content .class-update-from{
	background-color:#ececec;
	height:625px;
	margin:0 60px 0 0;
	*margin:0 150px 0 0;
	padding:40px 0 0 80px;
}
.admin-icp{
	background:#292930;
	height:152px;
	color:#6c6c6c;
	text-align:center;
	line-height:152px;
}
.content .class-update-from *{width:618px;*width:620px;}
.content .class-update-from p{margin:10px 0 5px 10px;color:#999;}
.content .class-update-from textarea{height:180px;}
.content .form-horizontal button{
	margin-top:26px;
	height:60px;
	background-color:#009245;
	width:100%;
}
.class-update-from .t-code{
	float:left;
	width:140px;
	margin-right:50px;
	height:210px;
}
.content .class-update-from .make-qrcode{
	width:140px;
	margin:10px 0 10px 0;
}
.content .class-update-from .t-code .bind-status{
	width:140px;
	margin:10px 0 4px 0;
}
.content .class-update-from .t-code .remove-bind{
	text-align:center;
}

/*绑定微信*/
.content .class-update-from .weixin-input{width:497px; float:left}
.bindWx{background-color:#c5c5c5!important;}

/*****试卷录入****/
.sub-navigation .paper-list{
	background:url(../images/paper_01.png) no-repeat 20px center;	
}
.sub-navigation .paper-list-selected{
	background:url(../images/paper_04.png) no-repeat 20px center;
}
.sub-navigation .paper-create{
	background:url(../images/paper_03.png) no-repeat 20px center;
}
.sub-navigation .paper-create-selected{
	background:url(../images/paper_02.png) no-repeat 20px center;
}
.detail .create-paper{
	height:625px;	
}
.detail .create-step{
	margin:20px 0 33px 10px;
}
.detail .nextstep{
	width:152px;
	height:60px;
	line-height:60px;
	font-size:20px;
	background-color:#009245;
	margin-right:12px;	
	display:block;
	float:right;
	padding:0;
	position:relative;
	bottom:62px;
	right:8px;
}
.nextstepp{
	bottom:2px!important;
	}
.detail .create-paper-step{
	height:176px;
	border-bottom:1px solid #dedede;
}
.detail .create-paper-form input{
	width:680px;
	height:62px;
	margin:0 0 0 38px;
	text-align:left;
	font-size:18px;
	position:relative;
	bottom:2px;
}
/****试卷预览****/
.create-paper-step .left{
text-indent: 15px;
height: 60px;
line-height: 60px;
width: 500px;
color: #9a9a9a;
text-shadow: 1px 1px 0 #fff;
font-size:20px;

}
.left i{font-style:normal;}
.paper-preview-main{
	background:#fff;
}

.paper-preview-serial{
	border-bottom:1px solid #cfcfcf;
	box-shadow:0 1px 3px #ccc;
}

.paper-preview-serial ul{
	padding:0 4px;
}

.paper-preview-serial li{
	width:32px;
	height:32px;
	background:#009966;
	border:1px solid #dbdbdb;
	line-height:30px;
	text-align:center;
	float:left;
	cursor:pointer;
	color:#FFF;
	border-radius:3px;
}
.paper-preview-serial li:hover{

	background:#068e61;

}
.preview-paper{
	height:auto !important;
}

.paper-preview-main-box {
}

.paper-preview-detail{
	width:972px;	
	height:600px;
	margin:0 auto;
	overflow:overlay;
}

.paper-preview-detail dt{
	padding:25px 0;	
	border-bottom:2px solid #029162;
	color:#717171;
	font-size:18px;
	font-weight:100;
}
.sub-title{
	margin-bottom:5px;
	line-height:18px;
	
}
.sub-chioce-text{font-size:14px;margin:6px 0 0 6px;line-height:30px;}
.sub-chioce-text span{font-size:30px;display:inline-block;}
.serial-number{
	float:left;
	font-size:36px;
	color:#009966;
}
.qustion-score{
	float:left;
	font-size:18px;
	color:#009966;
	line-height:24px;
}
.sub-material{
	display:block;
	font-size:14px;
	padding:0 0 10px 45px;
}
.sub-material, .sub-question{
	margin:10px 0;

}
.sub-chioce{
	margin-bottom:10px;
	border-bottom:1px #CCC solid;
	
}
.sub-chioce ul{margin:16px 0 30px 0;}
.sub-chioce li, .sub-attr li{
	padding: 10px;
	padding-left: 80px;
	line-height: 24px;
	margin-top: 3px;

}
.qustion-choice{
	font-size:14px;	
	line-height:30px;
}
.qustion-choice .serial-choice{
	font-size:30px;
}
.sub-attr{	font-size:14px;}
.sub-attr .attr{
	width:100px;
	text-align:center;
	background: #c9c9c9;
	border-radius: 3px;
	line-height: 2em;
	margin-bottom:15px;
	font-size:12px;

}
.sub-attr .attr-detail{
	font-size:14px;
	padding-left:32px;
	letter-spacing:2px;
}
.sub-question{
	/*border-bottom:1px solid #ccc;*/
	margin-bottom:20px;
}

/*****提交审核*****/
.check-paper{
	padding-top:50px;
	text-align:center;
}
.check-paper p{
	color:#b4b4b4;
	font-size:40px;
	margin-bottom:10px;		
}
.check-paper p.paper-info{
	font-size:20px;		
}
.check-paper .nextstep{
	float:none;
	margin:0 auto;
	margin-top:90px;
}

/*****试卷列表*****/
.class-list-table .ischeck{
	color:#3aa5ff;
}
.class-list-table .lookup{
	color:#009245;
	border:1px solid #096;
	padding:0 8px;
	border-radius:3px;
}
.class-list-table .lookup:hover{background:#e7e7e7;}

/********message*******/
.msg{text-align:center;}
.msg li{position:relative;top:2px;width:14px;height:14px;background:#09F;border-radius:200px;display:inline-block;}
.msg a{color:#999;margin:10px;line-height:80px;font-size:14px;}
.msg a:hover{color:#666;}
	
/**预览页**/
.submit-check{border-radius:0 5px 5px 0;position: relative!important;bottom: 0!important;right: 0!important;}
.back-edit{border-radius: 5px 0  0 5px;margin-right:2px!important;position: relative!important;bottom: 0!important;right: 0!important;}

.yl_tixin{
	float:left;
	display:block;
position: relative;
top: 12px;
font-size: 21px;
line-height: 24px;
padding: 2px 5px 2px 5px;
border: 1px solid #95BDB3;
border-radius: 5px;
color: #88C0A7;
margin: 0 10px 0 10px;
box-shadow: 0 0 1px #ACCCC0;}
.right_img{
	float:left;
	margin-bottom:1px;
	display:inline-block;
	width:32px;
	position:relative;
	bottom:4px;
	right:5px;
	}
.abcd{float:left;font-size:20px;}
.question_text,.answer_text{
	float:left;
	line-height:24px;
	margin-left:5px;
	letter-spacing:2px;
	width:800px;
	display:inline-block!important;
	}
	
/**********shouye*********/
.shouye{
	padding-left: 63px;
	border-bottom: 1px solid #028d44;
	border-left: 1px solid #3D3D3D;
	margin-left: -1px;  
}
.shouye-guide {
	height:73px;
	color:#717175;
	line-height:73px;
	font-size:16px;
}
.shouye-total-stat{
	margin-bottom:56px;
}
.shouye-total-stat .total-stat{
	width:300px;
	border-left:1px solid #009245;
	float:left;
	height:141px;
	padding-left:20px;
}	
.shouye-total-stat .total-stat p{
	color:#009245;
	font-size:16px;
}

.shouye-total-stat .total-stat-summary{
	font-weight:bold;
	margin:10px 0 10px 0;
}

.shouye-total-stat .total-stat-count{
	font-size:36px !important;
	color:#aeaeae !important;
	margin-bottom:18px;
	height:36px;
}

.shouye-total-stat .total-stat-base{
	font-size:12px !important;
	margin-bottom:10px;	
}

.shouye-total-stat .total-stat-base .stat-base-data{
	color:#aeaeae;
}

.shouye-exam-stat{
	height:448px;
}
.shouye-exam-stat .exam-stat{
	height:18px;
	color:#717175;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
}

.shouye-exam-stat .exam-stat-detail{
	width:854px;
	height:348px;
	margin-bottom:18px;
}
.shouye-exam-stat .exam-stat-detail li{
	padding-left:8px;
}
.shouye-exam-stat .exam-stat-info{
	margin:10px 0;
	height:36px;
	line-height:36px;
	font-size:14px;
	border-radius:3px;
}

.shouye-exam-stat .exam-stat-info,.shouye-exam-stat .exam-stat-data{
	background-color:#3e3e45;
}

.shouye-exam-stat .exam-stat-data{
	padding:1px 0;
}

.shouye-exam-stat .exam-stat-info li{
	display:inline-block;
	color:#6f6f7a;	
}

.shouye-exam-stat .exam-stat-data li{
	height:30px;
	line-height:30px;
	border-top: 1px solid #43474D;
}
.shouye-exam-stat .exam-stat-data li:hover{background:#494950;}
.shouye-exam-stat .exam-stat-data p{
	float:left;
	color:#aeaeae;
	text-align:left;
} 
.shouye-exam-stat .exam-stat-data p:nth-child(1){width:80px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.shouye-exam-stat .exam-stat-data p:nth-child(2){width:280px;margin-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.shouye-exam-stat .exam-stat-data p:nth-child(3){width:130px;margin-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.shouye-exam-stat .exam-stat-data p:nth-child(4){width:50px;}
.shouye-exam-stat .exam-stat-data p:nth-child(5){margin-left:40px;width:40px;}
.shouye-exam-stat .exam-stat-data p:nth-child(6){margin-left:40px;width:60px;}
.shouye-exam-stat .exam-stat-data p:nth-child(7){margin-left:30px;width:40px;}
.shouye-exam-stat .witdth10{
	width:10%;
}
.shouye-exam-stat .witdth30{
	width:33%;
}
.shouye-exam-stat .witdth15{
	width:14%;
}

/****分页****/
.shouye-exam-stat .exam-stat-p .p-detail{
color:#727272;
letter-spacing:2px;
float:left;
}
.p-detail span{color:#093;}
.shouye-exam-stat .exam-stat-p .p-fenye{
float:right;
margin-right:90px;
}
.p-fenye a{color: #d8d8d8;
background: #009245;
margin: 2px;
padding-left: 6px;
letter-spacing: 6px;
border-radius: 3px;
text-align: center}
.p-fenye a:hover{background:#078C00;color:#999;}
.p-fenye span{padding:0 6px;}
.current{color:#093; }

.select-option{width:100px;margin:10px 30px 10px 10px; background:#fff;border:none;height:24px;}

/***弹窗遮罩***/
.dialog_wrp{z-index: 9999;position: fixed;top: 50%;left: 50%;width: 726px; margin-left: -363px; margin-top: -174px;}
.dialog{border-width: 0;overflow: visible;background-color: #fff;}
.dialog_hd{line-height: 52px;height: 52px;border-bottom-width: 0;position: relative;padding: 0 20px;background-color: #f4f5f9;}
.dialog_hd h3 {
	font-weight: 400;
	font-style: normal;
	color: #222;
	display: block;
	font-size: 1.17em;
	line-height:52px;
}
.pop_closed {
background: url("../images/base_z231ecc.png") 0 -2757px no-repeat;
position: absolute;
top: 50%;
margin-top: -8px;
right: 20px;
width: 16px;
height: 16px;
line-height: 999em;
overflow: hidden;
}

.dialog_wrp.simple .dialog_bd {
	text-align: center;
}
.dialog_bd {
padding: 66px 45px 108px;
}
.simple_dialog_content {
display: inline-block;
text-align: left;
width: 420px;
}
.simple_dialog_content {
text-align: left;
}
.frm_control_group {
padding-bottom: 25px;
}
.frm_input_box{
	width: auto;
	display: block;
}
.frm_input {
height: 22px;
margin: 4px 0;
width:100%;
}
.dialog_ft {
padding: 16px 0;
background-color: #f4f5f9;
margin: 0;
text-align: center;
border-top: 1px solid transparent;
}
.dialog_ft .btn {
margin-left: .3em;
margin-right: .3em;
}
.btn.btn_input {
min-width: 104px;
}
.btn_primary {
	background-color: #44b549;
}
.btn.btn_input button {
width: 100%;
}
.btn_primary button {
color: #fff;
}
.btn button {
display: block;
height: 100%;
background-color: transparent;
border: 0;
outline: 0;
overflow: visible;
padding: 0 22px;
}
.btn_default{
	background-color: #fff;
	border-color: #e7e7eb;
	color: #222;
}
.btn_primary:hover{
	background-color: #2f9833;
}
.btn_default:hover{
	background-color: #e7e7eb;
}
.mask {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
filter: alpha(opacity = 75);
-moz-opacity: .75;
-khtml-opacity: .75;
opacity: .75;
background-color: #000;
z-index: 9998;
}
.frm_msg.fail {
color: #e15f63;
}
.frm_msg {
padding-top: 4px;
width: 300px;
}



