/*基本样式rest*/
body{  font-family:  'Microsoft YaHei UI','Microsoft Yahei','Microsoft Jhenghei', helvetica, tahoma, arial, sans-serif; font-size: 12px; margin:0; padding:0;background:#dedede;}
* { margin:0; padding:0 }
div, ul, li, h1, h2, h3, h4, h5, h6, img, p, dl, dt, dd, ol,tr,th, td { margin: 0px; padding: 0px; }
li { list-style-type: none; }
form, input, button, option, textarea, select { margin: 0px; padding: 0px; }
textarea{resize:none;}
input, button, textarea, select { font:100% 'Microsoft YaHei UI','Microsoft Yahei','Microsoft Jhenghei', helvetica, tahoma, arial, sans-serif; text-shadow:none;}
button{border-style:none!important;}
:focus {outline: 0;}
a { text-decoration: none; cursor:pointer; outline:none;color:#333333; }
a:link { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
th { font-weight:normal; }
img { border: 0; }
h3 { font-size:14px;  font-weight:bold; }
h4 { font-size: 12px;    font-weight:bold; }
.clear { clear: both;width:100%;height:0px;overflow:hidden; }
.copy { font-family:Arial, Helvetica, sans-serif; }
img { border:none;}
.fontYahei{font-family:"Microsoft Yahei", Arial,serif;}
.left { float: left}
.right {float:right}
.none { display:none;}
.fl{ float:left}
.rl{ float:right}
.fn{ float:none !important;}

