/**导航**/
#header{ 
	height:71px; 
	border-bottom:1px solid #01823e;
	background-color:#fff;
}
#header .navigation{
	margin:0 auto;
	width:1000px;
	padding:0 20px;
}

#header .navigation .logo{
	cursor:pointer;
	margin-right:20px;
	width:162px;
	height:71px;
	background:url(../images/logo.png) no-repeat;	
}

.navigation .info{
	font-size:16px;
	width:200px;
	color:#6c6c6c;
	border-left:1px solid #b2b2b2;
	height:37px;
	margin:18px 23px 0 0;
	line-height:37px;
	text-align:center;
	background:#fff;
}

.navigation .menu{
	margin-top:20px;
	background:#fff;
}

.navigation .menu a{
	font-size:14px;
	width:63px;
	text-align:center;
	color:#27ab44;
	display:block;
	margin-left:18px;
	float:left;
	height:34px;
	line-height:34px;
	background:#fff;
}
.navigation .menu a:hover{
border-bottom:3px solid #009245;
padding-bottom:14px;
}
.navigation .menu .admin{
	width:120px;
	border-radius:3px;
	background-color:#e4e4e4;
	color:#b4b4b4;
}
.navigation .menu .admin:hover{border:none;padding:0;}
.a-active{	border-bottom: 3px solid #009245;
	padding-bottom: 14px;}
/****主体****/
#main{
	background-color:#292930;
	border-bottom:1px solid #59626d;
}

#main .center{
	width:1000px;
	margin:0 auto;
}

#main .center .user-third{
	width:500px;
	height:580px;
}

#main .center .user-form{
	width:416px;
	height:499px;
	padding:81px 0 0 84px;
}

#main .center .form-control{
height: 70px;
width: 349px;
margin-bottom: 14px;
font-size: 21px;
color: #BEBEBE;
padding-left: 10px;
border-radius: 5px;
border: 1px solid #535353;
background: #3E4246;
}
.form-control input{
width:326px;
height: 40px;
font-size: 21px;
color: #BEBEBE;
padding: 0 0 0 10px;
margin-top: 14px;
line-height: 40px;
border: none;
background: #3E4246;}
.tis{display:block;color:#BE2B31; height:16px;font-style: normal;letter-spacing: 1px;padding-bottom: 3px;}
.tis_{border-bottom:1px solid #BE2B31!important;}
.green{color:#06A854;display:inline;font-size:14px;font-style: normal;padding-left:6px;}
#main .center .check_code{
height: 70px;
width:200px;
margin-bottom: 14px;
font-size: 21px;
color: #BEBEBE;
padding-left: 10px;
border-radius: 5px;
border: 1px solid #535353;
background: #3E4246;
float:left;
margin-right:20px;
}
#main .center .check_code input{
width:160px;
height: 40px;
font-size: 21px;
color: #BEBEBE;
padding: 0 0 0 10px;
margin-top: 14px;
line-height: 40px;
border: none;
background: #3E4246;}

/**验证码**/
#code{
	display:inline;
	vertical-align:top;
	cursor:pointer;
	border-radius: 5px;
	height: 70px;
	width: 128px;
}

#getimg{
	display:inline;
	vertical-align:top;
	cursor:pointer;
	border-radius: 5px;
	height: 70px;
	width: 128px;
}

#main .user-form .login{
	cursor:pointer;
	color:#ededed;
	width:360px;
	height:73px;
	background-color:#009245;
	border-style:none;
	border-radius:3px;
	font-size: 21px;
	margin-top: 16px;
}

#main .user-form .login:hover{
	background:#00843e;
}

#main .user-form .fixpwd {
cursor: pointer;
color: #ededed;
width: 360px;
height: 73px;
background-color: #009245;
border-style: none;
border-radius: 3px;
font-size: 21px;
margin-top: 16px;
}

#main .user-form .fixpwd:hover{
	background:#00843e;
}


#remember {
	border-radius: 3px;
	vertical-align:middle;
}
#main .user-form label{
	color:#ededed;
	font-size:14px;
}

#main .user-form .operate{
	margin-top:22px;
}

#main .user-form .forgetpass{
	color:#ededed;
	font-size:14px;
	margin-left:150px;
	text-decoration:underline;
}
#main .user-form .goregister{
	color:#009245;
	display:block;
	font-size:18px;
	margin:10px 0 0 256px;
	font-weight:bold;
}
#main .forgetpass:hover,.#main .goregister:hover{
	text-decoration:underline;
}

#main .user-form .gologin{
	font-size:18px;
	color:#ededed;
}

#main .user-form .register{
	width:238px;
	height:73px;
	background-color:#009345;
	margin:16px 0 0 26px;
	font-size:21px;
	border-radius:3px;
	color:#ededed;
	cursor:pointer;
}
#main .user-form .register:hover{background: #00843e;}


/**intrdoce**/
#intrdoce {
	height:300px;
	background-color:#282a2f;
	border-bottom:1px solid #009245;
}
#intrdoce .center{
	width:1000px;
	margin:0 auto;
}

#intrdoce .siteinfo li{
	display:inline;
	float:left;
	width:333px;
	height:242px;
	text-align:center;
	margin-top:55px;
}

#intrdoce .siteinfo li p{
	line-height:22px;
	color:#505050;
	font-size:14px;
}

#intrdoce .siteinfo li p.introduction{
	margin:20px 0;
	color:#bebebe;
	font-size:16px;
}

/***footer***/
#footer{
	background:url(../images/footer_bg.jpg);
	height:280px;
}

#footer .icp{
	width:1000px;
	margin:0 auto;
	text-align:center;
	color:#6c777d;
	font-size:12px;
	line-height:67px; 
}

/**验证密码**/
.findpsw-ok{margin:0 auto;}
.findpsw-ok ul{padding-top:60px;}
.findpsw-ok ul li{
text-align:center;
float: left;
display: block;
height: 10px;
line-height: 10px;
width: 320px;
color:#cfcfcf;
font-size:21px;}
.findpsw-ok ul li i{font-size:30px;margin-right:10px;}
.findpsw-ok .active{color:#565656;}
.findpsw-ok .choice{color:#8EA1B9;text-decoration:underline;}
.findpsw-ok-text{padding-top:110px;letter-spacing:2px;font-size:16px;color:#d1d1d1;line-height:30px;height: 260px;text-align:center;}
.findpsw-ok-text a{color:#009245;padding: 0 5px;}
.user-form .sendmail {
cursor: pointer;
color: #ededed;
width: 360px;
height: 73px;
background-color: #009245;
border-style: none;
border-radius: 3px;
font-size: 21px;
margin-top: 16px;
}
.user-form .sendmail:hover {
background: #00843e;
}
