﻿body{
	font:12px 'Microsoft YaHei UI','Microsoft Yahei','Microsoft Jhenghei', helvetica, tahoma, arial, sans-serif;
	color:#333;
	background:#212126;
}
[contenteditable=true]:hover,[contenteditable=true].nt-contedhover{outline:3px dashed #ddd;}*/
[contenteditable=true]:focus{outline:0;background-color:#e9e9e9;color:#444;outline:3px dashed #ddd;}*/
[contenteditable=true] p{margin:0}
.edit-div{
	position:relative;
	-webkit-user-modify: read-write;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	direction: ltr;
	unicode-bidi: embed;
	/*outline:3px dashed #ddd;*/
}
.mtk--item-placeholder{position:absolute;top:center;left:10px;}
/* sort style */
.sortable-placeholder {min-height:60px;border: 3px dashed #CCC;background:#666;}

.mtk-item-slide-tit{padding-left:30px;color:#009245;font-size:30px;}
.mtk-item-slide-type{position:relative;bottom:3px;font-size:21px;line-height:20px;padding:2px 5px 2px 5px;border:1px solid #95BDB3;border-radius:5px;color:#88C0A7;margin:0 10px 0 10px;box-shadow:0 0 1px #ACCCC0;}

#self-editor {width:580px; height:500px; margin:10px 0 0 10px; }
.mtk-problem-ico{margin-top:7px;margin-left:19px;width:70px;height:43px;}
.mtk-all-operate{ background-color:#01843f;}
.mtk-import{ width:600px; position:relative;margin-bottom:40px;background:#01843f;}
.mtk-import .import-word{ background:url(../images/import_03.png) no-repeat 10px center #149648;; display:block; width:188px; line-height:38px; text-indent:40px; font-size:16px; color:#00612e; margin:10px 0 0 10px; border:2px solid #00612e; border-radius:2px;}
.import-a{height:52px;}
.import-a a{float: left;display: block;width: 100px;line-height: 38px;text-align: center;font-size: 16px;color: #00612e;margin: 10px 0 0 10px;border: 2px solid #00612e;border-radius: 2px;background:#149648;}
.import-a a:hover{background-color:#007b3a;  }
.import-a1 a{float: left;display: block;width: 120px;height:60px;line-height: 54px;text-align: center;font-size: 16px;color: #00612e;margin: 50px 0 0 170px;border: 2px solid #00612e;border-radius: 2px;}
.import-a1 a:hover{background-color:#007b3a;  }
.import-a1-right{margin: 50px 0 0 20px!important;}
.mtk-import .import-word:hover{background-color:#007b3a;  }
.mtk-import .import-word1{ height:90px; width:260px; line-height:88px; text-align:center; background:url(../images/import_03.png) no-repeat 26px center; margin:100px 0 0 150px;font-size:21px; }

.mtk-import	.import-file{ width:188px;height:38px; position:absolute; top:10px; left:10px; z-index:10; opacity: 0;cursor:pointer;}
.mtk-bd{width:400px;background:#ececec;}
.mtk-bd .create-step{margin: 10px 0 33px 10px;}
.mtk-bd .create-step-editor{margin:0 0 10px 0; width:400px;}
.mtk-paper-fun{width:400px;font-size:20px;}
.mtk-paper-name{text-indent:15px;font-size:16px;line-height:30px;width:400px;color:#9a9a9a;text-shadow: 1px 1px 0 #fff;}
.mtk-paper-btn{height:60px; margin-right:80px;}
.mtk-paper-btn ul{height:40px;margin-top:10px;font-size:16px;}
.mtk-paper-btn li{color:#fff;cursor:pointer;margin-left:2px;background:#009245;height:40px;line-height:40px;text-align:center;}
.mtk-paper-btn li:hover{background:#00813D;}
.mtk-paper-back{width:120px;border-radius:5px 0px 0px 5px;}
.mtk-paper-save{width:115px;}
.mtk-paper-model{width: 120px;border-radius: 0px 5px 5px 0px;}
.mtk-item dt{margin-top:10px;background:#f0f7f1;padding-bottom:20px;box-shadow:0px 0px 2px #99B1A8;}

.mtk-item-slide{height:90px;overflow:hidden;}
.mtk-item-noslide{height:auto;overflow:none;}

.mtk-item-slide{line-height:60px;position:relative;height:60px;}
.mtk-item-slide-a{background:#d5e2d6;overflow:hidden;}
.mtk-item-slide-a .a{display:block;cursor:pointer;position:absolute;right:10px;top:12px;width:40px;height:38px;background:url(../images/mtk-05.png) no-repeat;}
.mtk-item-slide-noa{background:none;}
.mtk-item-slide-noa .a{display:block;cursor:pointer;position:absolute;right:10px;top:12px;width:40px;height:38px;background:url(../images/mtk-06.png) no-repeat;}
.mtk-item-slide-txt{font-size:18px;color:#666;}
.mtk-item-slide-noa .mtk-del-item{display:block;}
.displaynone{display:none;}
.mtk-item-slide-a .mtk-del-item{display:none;}
.mtk-item-slide-noa .mtk-item-txt{display:none;}
.mtk-item-slide-a .mtk-item-txt{display:block;width:180px;}

.mtk-item-w940{width:390px;margin:auto;}

.mtk-item-border{border:1px solid #ddd;background:#fff;}

.mtk-sel-item-type{margin:15px 0px;margin-left:30px;height:60px;width:340px;border:1px solid #cbcbcb;border-radius:5px;overflow:hidden;}
.mtk-common-item .mtk-item-tm{ overflow:hidden; padding:5px;width:200px;font-size:18px;}
.mtk-item-score{ height:38px; padding:5px;outline: 3px dashed #ddd;margin-top: 10px;margin-left:10px;color:#d0cfcf;}
.checkscore{ outline:3px dashed #ff6060 !important;}
.mtk-item-score-pt{ margin-left:20px;}
.mtk-item-score input{ width:50px; line-height:30px; color:#333; border-style:none;font-size:12px;}
.mtk-common-item .mtk-sel-del-1{margin-top:12px;margin-left:19px;width:32px;height:37px;cursor:pointer;}

.mtk-sel-common{width:170px;height:60px;}
.mtk-sel-recombination{width:170px;height:60px;}
.mtk-sel-item-type span{cursor:pointer;display:block;width:170px;height:60px;line-height:63px;font-size:24px;text-indent:16px;}

.mtk-sel-item-type .noa span{background:#e2e2e2 url(../images/mtk-07.png) no-repeat 136px center;color:#c2c2c2;}
.mtk-sel-item-type .a span{background:#009245 url(../images/mtk-08.png) no-repeat 136px center;color:#fff;}

.mtk-problem{padding:10px 0px;border-bottom:1px solid #ddd;}
.mtk-problem .mtk-sel-del{padding-top:15px;height:45px;}

.mtk-edit-data-div{width:390px;padding:15px 16px;background:#fff;}

.mtk-edit-data{min-height:100px;padding:10px;font-size:12px;font-weight:100;outline:3px dashed #ddd;background:url(../images/mtk-09.png) no-repeat center center;background-size:120px 30px;overflow:hidden;}
.mtk-edit-data-div :focus{background:none;}

.mtk-item-num{height:60px;text-align:right;width:130px;font-size:30px;color:#009245;background:url(../images/mtk-01.png) no-repeat 15px center;}
.mtk-item-num{line-height:60px;}
.mtk-item-tm{width:120px;font-size:14px;margin-top:10px;margin-left:5px;padding:5px;line-height:28px;overflow:hidden;}

.mtk-choice{}
.mtk-choice li{border-bottom:1px solid #ddd;min-height:40px;padding:7px 0px;}
.mtk-sel-switch-div .save{ background-color:#ededed; }

.mtk-choice .a{background:#e9e9e9 url(../images/mtk-02.png) no-repeat 15px center;}
.mtk-choice .a .mtk-c1{color:#009245;}

.mtk-choice .mtk-c1{ width:90px;text-align:left;padding-left:8px;font-size:30px;}
.mtk-choice .mtk-c2{ overflow:hidden; margin-left:5px;margin-top:3px;padding: 8px 5px 5px 5px;width:230px;font-weight:100;font-size:14px;}
.mtk-choice .mtk-c3{ width:54px; }

.mtk-sel-letter{padding-left:10px;color:#727272;}

.mtk-sel-del{position:relative;top:3px;margin-left:8px;width:32px;height:37px;cursor:pointer; display:none;}
.mtk-sel-del-fuhe{ padding-top: 15px;height: 45px;margin-left: 22px;width: 32px;cursor: pointer;}

.mtk-add-item{padding-left:50px;display:block;cursor:pointer;height:58px;line-height:50px;font-size:24px;color:#727272;}
.mtk-add-item:hover{padding-left:50px;display:block;cursor:pointer;height:58px;line-height:50px;font-size:24px;color:#353535;background:#f9f9f9;}
.mtk-add-item-txt1{font-size:60px;}
.mtk-add-item-txt2{margin-left:20px;font-size:24px;line-height:58px;}

.mtk-item-analysis{}
.mtk-item-analysis-tit{ text-indent:10px; font-size:21px;color:#cecece;line-height:35px;margin-top:10px;}
.mtk-item-analysis-div{margin-bottom:10px;}
.mtk-item-analysis-ul{border:1px solid #ddd;background:#fff;}
.mtk-item-analysis-ul li{min-height:40px;padding:7px 0px;border-bottom:1px solid #dbdbdb}
.mtk-item-analysis-li1{margin-left:15px;width:75px;height:40px;line-height:40px;border-bottom:2px solid #dbdbdb;font-size:24px;color:#b4b4b4;}
.mtk-item-analysis-li1 input{position:relative;top:10px; color:#000; border:0px;width:70px;font-size:18px;line-height:24px;font-family:'Microsoft Yahei';}
.mtk-item-analysis-li2{font-size:24px;margin-top:5px;width:20px;color:#CCC;}
.mtk-item-analysis-li3{margin-top:3px;width:210px;margin-left:5px;padding:5px;font-size:18px;overflow:hidden;}
.mtk-item-analysis-li4{margin-left:10px;width:32px;height:36px;cursor:pointer;}

.mtk-item-analysis-ul{}

.mtk-add-analysis{padding-left:50px;display:block;cursor:pointer;height:58px;line-height:50px;font-size:24px;color:#727272;}
.mtk-add-analysis:hover{color:#353535;background:#f9f9f9;}
.mtk-add-analysis-txt1{font-size:60px;}
.mtk-add-analysis-txt2{margin-left:20px;font-size:24px;line-height:58px;}

.mtk-add-question{margin:10px auto;cursor:pointer;text-align:center;font-size:24px;color:#fff;width:390px;height:80px;line-height:80px;background:#0082c5;}

/*.mtk-add-new-recom{margin-top:10px;cursor:pointer;text-align:center;font-size:24px;color:#fff;height:80px;line-height:80px;background:#009245;}*/
.mtk-add-new-common{margin-top:10px; cursor:pointer; border-right:1px solid #FFF; width:133px;text-align:center;font-size:20px;color:#fff;height:60px;line-height:60px;background:#009245;}
.mtk-add-new-common:hover{margin-top:10px; cursor:pointer; border-right:1px solid #FFF;text-align:center;font-size:20px;color:#fff;height:60px;line-height:60px;background:#00813d;}

.mtk-add-new-composite{margin-top:10px; cursor:pointer; border-left:1px solid #FFF; width:133px;text-align:center;font-size:20px;color:#fff;height:60px;line-height:60px;background:#009245;float:left;}
.mtk-add-new-composite:hover{margin-top:10px; cursor:pointer; border-left:1px solid #FFF;text-align:center;font-size:20px;color:#fff;height:60px;line-height:60px;background:#00813d;float:left;}

.mtk-item .mtk-paper-preview { border-radius:0px; margin:10px 0 0 1px; cursor:pointer; border-left:1px solid #FFF; width:133px;text-align:center;font-size:20px;color:#fff;height:60px;line-height:60px;background:#009245;float:left;}
.mtk-item .mtk-paper-preview:hover{ border-radius:0px; margin-top:10px; cursor:pointer; border-left:1px solid #FFF;text-align:center;font-size:20px;color:#fff;height:60px;line-height:60px;background:#00813d;float:left;}


.mtk-del-item{margin-top:12px;margin-right:15px;display:block;height:40px;padding-left:40px;line-height:50px;width:90px;font-size:28px;color:#ff9494;cursor:pointer;background:url(../images/mtk-03.png) no-repeat center left;}

/****编辑器*****/
.self-editor ul{ margin:10px 0 0 30px;}
.self-editor li{ display:inline; border:1px solid #000; }
#redactor_modal{
	background: linear-gradient(to bottom,#f7f7f7 0%,#e2e2e2 100%);
	text-shadow: 0 1px 0 #fff;
	padding: 0;
	box-shadow: 0px 5px 60px #000;
	border-radius: 3px;
	z-index: 50001;
	font-family: Helvetica,Arial,Verdana,Tahoma,sans-serif;
	font-size: 12px !important;
	color: #000;
}
#redactor_modal_close{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 20px;
	width: 20px;
	height: 20px;
	color: #777;
	cursor: pointer;
}
#redactor_tabs {
	margin-bottom: 18px;
}
#redactor_tabs {
	display: none !important;
}
#redactor_tabs a {
	display: inline-block;
	border: 1px solid #d2d2d2;
	padding: 4px 14px;
	font-size: 12px;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	line-height: 1;
	border-radius: 10px;
	margin-right: 5px;
}
#redactor_modal_header {
	padding: 11px 30px 0 15px;
	font-size: 12px;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
}
#redactor_modal_content {
	padding: 20px 30px;
}
.redactor_droparea .redactor_dropareabox, .redactor_dropalternative{
	color: #555;font-size: 12px;
}
.redactor_droparea .redactor_dropareabox{
	z-index: 1;
	position: relative;
	text-align: center;
	width: 99%;
	background-color: #fff;
	padding: 60px 0;
	border: 2px dashed #bbb;
}

#redactor_modal_footer {
	padding: 9px 30px 20px 30px;
	border-radius: 0 0 3px 3px;
	text-align: right;
}

.redactor_modal_btn {
	margin-left: 8px;
	position: relative;
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica,Arial,Verdana,Tahoma,sans-serif;
	line-height: 1;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 16px 5px 16px;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: -webkit-linear-gradient(top,#ffffff,#e1e1e1);
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-shadow: 0 1px 0px #ffffff;
	color: #000;
}

/***试卷录入页面***/
.paper-edit{
	width:584px;
	position:absolute;
}
.paper-edit .resize{
	position: absolute;
	height: 10px;
	width: 10px;
	color: white;
	z-index: 10;
	background: red;
}
.paper-edit .tr{
	right: 0;
	top: 0;
	cursor: ne-resize;
}
.paper-edit .rb{
	right: 0;
	bottom: 0;
	cursor: nw-resize;
}
.paper-edit .bl{
	left: 0;
	bottom: 0;
	cursor: ne-resize;
}
.paper-import{
	position:relative;
	height:78px;
	background-color:#009245;
	padding:18px 0 0 18px;
}
.paper-import a{
	width:244px;
	height:42px;
	border:1px #005e2d solid;
	border-radius:5px;
	display:inline-block;
	line-height:42px;
	text-align:center;
	font-size:18px;
	color:#00612e;
	background:url(../images/import_03.png) no-repeat 12px center;
}
.paper-import img{
	cursor:pointer;
	position:absolute;
	right:20px;
	top:22px;
}

/*.paper-info{
	padding:0 18px 18px 18px;
	background-color:#009245;
}*/

#paperEdit{
	width:544px;
}


/*置顶图标*/
.actGotop{position:fixed; _position:absolute; bottom:100px; right:10px; width:150px; height:195px; display:none;}
.actGotop a,.actGotop a:link{width:150px; height:195px; display:inline-block; background:url(../images/blog7year_gotop.png) no-repeat; _background:url(../images/blog7year_gotop.gif) no-repeat; outline:none;}
.actGotop a:hover{width:150px; height:195px; background:url(../images/blog7year_gotopd.gif) no-repeat; outline:none;}
