<div ng-controller="classlist">
	<!--搜索-->
	<div class="header">
    	<div class="s_left">
        	<input  type="text" placeholder="输入班级名"/>
        </div>
        <div class="s_right">
            <div class="img"><img  src="./images/sousuo.png"/></div>				
            <div class="search">搜索</div>
        </div>
    </div>
    <!--end-->
    
    <!--内容-->
    <div class="content" id="showMore">
    	<div class="cls_List" ng-repeat="class in classlist">
        	<a href="#/{{class.status==1?'classinfo':'classadd'}}/{{class.cid}}"><div class="cls_name">{{class.cname}}</div></a>
           	<div class="cls_have">
               	<div class="had">已参与{{class.hasnum}}人</div>
                <div class="total">全班{{class.topnum}}人</div>
                <div class="join" ng-if="class.status==1">已加入</div>
           	</div> 
        </div>  
    </div>
    <!--end-->
</div>