

<div ng-controller="classadd">
	<!--header-->
	<div class="c_header">
    	<div class="cla_name">{{classinfo.cname}}</div>
        <div class="cla_detaile">
        	<div class="number">班级编号：{{classinfo.cid}}</div>
            <div class="had_per">已加入{{classinfo.hasnum}}人</div>
            <div class="all_per">全班{{classinfo.topnum}}人</div>
        </div>
    </div>
    <!--header end-->
    
    <!--content-->
    <div class="c_content">
    	<div class="wx">
        	<div class="wx_img"><img style="width:360px;height:360px;" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{classinfo.rqcode}}" /></div>
            <div class="cla_wx">班级二维码</div>
        </div>
        
        <div class="mess">
        	<div class="m_title">老师留言</div>
            <div class="message">{{classinfo.introduce}}</div>
        </div>
    </div>
    <!--content end-->
    
    <!--footer-->
    <div class="c_footer" ng-if="!classinfo.passcode">
    	<a ng-click="addclass()">加入本班级</a>
    </div>

    <div class="o_footer" ng-if="classinfo.passcode">
        <div class="inp">
            <input  type="text" ng-model="classinfo.inputcode" placeholder="{{classinfo.hasnum==classinfo.topnum?'班级人数已满':'输入班级密码加入班级'}}"/>
        </div>
        <div class="btn"><a ng-click="addclass()">确认加入</a></div>
    </div>
    <!--footer end-->
</div>
