
<div ng-controller="classinfo">
	<!--back-->
	<div class="w_header">
    	<div class="s_left">
        	<div class="backimg"><img  src="./images/back.jpg"/></div>
        	<div class="back"><a href="#">返回</a></div>
        </div>
        <div class="s_right">
            答题历史
        </div>
    </div>
    <!--back end-->
    
    <!--content-->
    <div class="w_content">
    	<div class="score"></div>
        <div class="cla_name">{{classinfo.cname}}</div>
        <div class="cla_info">
        	<div class="number">班级编号：{{classinfo.cid}}</div>
            <div class="had_per">已加入{{classinfo.hasnum}}人</div>
            <div class="all_per">全班{{classinfo.topnum}}人</div>
        </div>
    </div>
    <!--content end-->
    
    <!--footer-->
    <div class="w_footer">
    	<div class="total">
        	<div class="t_left">
            	<span>总答题(道)</span>
                <span class="sp">9999</span>
            </div>
            <div class="t_right">
            	<span>答对(道)</span>
                <span  class="sp">9999</span>
            </div>
        </div>
        <div class="total">
        	<div class="t_left">
            	<span>作业次数(次)</span>
                <span  class="sp">9999</span>
            </div>
            <div class="t_right">
            	<span>个人排名</span>
                <span  class="sp">10/99</span>
            </div>
        </div>
        <div class="exit"><a  ng-click="logoutclass()">退出班级</a></div>
    </div>
    <!--footer end-->
</div>
