<div ng-controller="myclass">
    <!--内容-->
    <div class="content m_content">
      <div class="cls_List" ng-repeat="class in classlist">

          <a href="#/classchar/{{class.cid}}"><div class="cls_name">{{class.cname}}</div></a>
            <div class="cls_have">
                <div class="had">已参与{{class.hasnum}}人</div>
                <div class="total">全班{{class.topnum}}人</div>
               <div class="join">已加入</div>
            </div> 
        </div>  
    </div>
</div>
