@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font-family:"微软雅黑";}
/*头部搜索*/
.header{ width:588px; height:36px; background-color:#292A2F; padding:26px;}
.header .s_left{ width:460px;height:100%; float:left;}
.header .s_left input{ width:460px; height:100%; border:0px; background-color:#292A2F; font-size:32px;}
.header .s_right{ width:112px; height:100%; float:right;}
.header .s_right .img{ width:40px; height:100%; float:left;}
.header .s_right .search{ width:72px; height:36px; float:right; font-size:32px; color:#0B8B41; line-height:36px; text-align:center;}


/*班级内容*/
.content{ width:640px; height:786px;}
.m_content{width:640px; height:874px;}
.content .cls_List{ width:574px; height:70px; border-top:1px solid #C3C3C3; border-left:6px solid #009245; padding:30px; background-color:#EBEBEB;}
.content .cls_List .cls_name{ width:100%; height:45px; font-size:36px; color:#22292C; line-height:45px;}
.content .cls_List .cls_have{ width:100%; height:23px; font-size:18px; color:#009245; margin-top:2px;}
.content .cls_List .cls_have .had{ width:100px; height:23px; float:left;line-height:23px; margin-right:15px;}
.content .cls_List .cls_have .total{ width:85px; height:23px; float:left;line-height:23px; margin-right:15px;}
.content .cls_List .cls_have .join{ width:74px; height:23px; float:left; border:1px solid #009245; border-radius:5px; text-align:center; line-height:23px;}

#clsList{ background-color:#D5D5D5;}

/*加载更多*/
.loadding{ width:640px; height:45px; text-align:center; line-height:45px; padding:36px 0;margin-top:16px; border-top:1px solid#C3C3C3; background-color:#F5F5F5; }
.loadding a{color:#C5C5C5; font-size:32px;}
a{ text-decoration:none;}


/********************************************************************************************************
clsdetailtwo
头部*/
.c_header{ width:580px; height:88px; padding:15px 30px 21px; border-top:6px solid #009245;}
.c_header .cla_name{ width:100%; height:45px; line-height:45px; font-size:36px; text-align:center;}
.c_header .cla_detaile{ width:100%; height:28px; margin-top:5px; font-size:24px; color:#009245;}
.c_header .cla_detaile .number{ width:240px; height:28px; float:left;}
.c_header .cla_detaile .had_per{ width:140px; height:28px; float:left; margin-left:70px;}
.c_header .cla_detaile .all_per{ width:120px; height:28px; float:right; text-align:center;}

/*内容*/
.c_content{ width:640px; height:781px; border-top:1px solid #C3C3C3;}
.c_content .wx{ width:430px; height:430px; margin:40px auto 60px; background-color:#F0F0F0; border-radius:5px;}
.c_content .wx .wx_img{ width:360px; height:360px;padding-top:35px;  margin:0 auto;}
.c_content .wx .cla_wx{ width:100%; height:35px; line-height:35px; text-align:center; color:#A6A6A6; font-size:18px;}

.c_content .mess{ width:562px; height:251px;border-top:1px solid #C3C3C3; border-left:1px solid #C3C3C3; border-right:1px solid #C3C3C3; border-radius:5px 5px 0px 0px; margin:0 auto; background-color:#E8E8E8;}
.c_content .mess .m_title{ width:100%; height:55px; color:#009245; font-size:24px; text-align:center; line-height:55px;}
.c_content .mess .message{ width:502px; height:155px; border-top:1px solid #009245; padding:20px 30px; font-size:24px; color:#22292C;}


/*尾部*/
.c_footer{ width:601px; height:60px; background-color:#009245; padding:18px 24px 18px 15px; line-height:60px; text-align:center;}
.c_footer a{ color:#FFF; font-size:24px; }


/********************************************************************************************************
clsdetailone
尾部*/
.o_footer{ width:601px; height:60px; background-color:#292930; padding:18px 24px 18px 15px;}
.o_footer .inp{ width:430px; height:60px; float:left;}
.o_footer .inp input{ width:100%; height:100%; background-color:#313138; border:0px; border-radius:5px; font-size:24px; color:#4F4F51;}
.o_footer .btn{ width:110px; height:60px; background-color:#009245; border-radius:5px; float:right; line-height:60px; text-align:center; padding-left:20px;}
.o_footer .btn a{ color:#FFF;  font-size:24px; }



/********************************************************************************************************
myclaDetailone
头部*/
.w_header{ width:588px; height:40px; background-color:#22292C; padding:24px 26px;; border-top:1px solid #1F2528;border-bottom:1px solid #BDBDBD; position:relative;}
.w_header .s_left{ width:100px;height:100%; float:left;}
.w_header .s_right{ width:120px; height:100%; float:right;font-size:30px; color:#42AE75;}
.w_header .s_left .backimg{ width:20px; height:40px; padding-top:4px; float:left;}
.w_header .s_left .back{ width:60px; height:40px; float:right;}
.w_header .w_right{ width:120px; height:100%; float:right;font-size:30px; color:#42AE75; margin-right:230px;}
.w_header .s_left .back a{ text-decoration:none; font-size:30px; color:#42AE75;}

/*content*/
.w_content{ width:580px; height:409px; padding:20px 30px;color:#777777; border-bottom:1px solid #CECECE;}
.w_content .score{ width:100%; height:290px; background-color:#000;}
.w_content .cla_name{ width:100%; height:50px; margin-top:20px; font-size:36px;}
.w_content .cla_info{ width:100%; height:50px; line-height:50px; font-size:24px;}
.w_content .cla_info .number{ width:240px; height:28px; float:left;}
.w_content .cla_info .had_per{ width:140px; height:28px; float:left; margin-left:70px;}
.w_content .cla_info .all_per{ width:120px; height:28px; float:right; text-align:center;}


/*footer*/
.w_footer{ width:580px; height:409px; padding:30px 30px 0px; background-color:#ECEEEF;}
.w_footer .total{ width:580px; height:96px; margin-top:8px; margin-bottom:50px; font-size:24px; color:#726F83;}
.w_footer .total .t_left{ width:260px; height:96px; border-right:1px solid #E5E6E8; float:left; padding-right:29px;}
.w_footer .total .t_right{ width:260px; height:96px; float:right; padding-left:30px;}
.w_footer .total  span{ width:260px; height:48px; float:left; line-height:48px;}
.w_footer .total .sp{ font-size:48px;}

.w_footer .exit{ width:516px; height:86px; border:1px solid #009245; margin:0px 31px 21px; font-size:36px; text-align:center; line-height:86px; border-radius:5px;}
.w_footer .exit a{ color:#009245;}


/********************************************************************************************************
workrecord
content*/
.tiao{ width:8px; height:920px; position:absolute; left:0px;top:93px; background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#01B957), to(#FE8A00));/*谷歌*/background:-moz-linear-gradient(top,#01B957,#FE8A00);/*火狐*/ }
.r_content{width:640px; height:799px; border-top:1px solid #BDBDBD;}
.hr{ border:1px solid #fff;}
.r_content .homeWork{width:632px; height:129px; background-color:#EDEDED; margin-left:8px;}
.r_content .homeWork ul{ width:100%; height:25px;}
.r_content .homeWork ul li{list-style:none; float:left; margin-left:10px; color:#00B957; font-size:18px;}
.r_content .homeWork .h_title{ width:568px; height:40px; padding:0px 36px; font-size:36px; color:#02ABD5; line-height:40px; margin-top:5px;}
.r_content .homeWork .h_post{width:65px; height:24px; font-size:18px; color:#fff; line-height:24px; background-color:#02ABD5; border-radius:5px; margin-left:36px;margin-top:12px; margin-right:539px; text-align:center;}
.r_content .workName{ width:560px; height:204px; border-top:1px solid #C3C3C3; padding:30px 36px; background-color:#EDEDED; margin-left:8px;}
.r_content .workName .w_title{ width:568px; height:40px; font-size:36px; color:#6D6D6D; line-height:40px; margin-top:5px;}
.r_content .workName .w_ok{ width:160px; height:24px; font-size:18px;line-height:24px; margin-top:12px;}
.r_content .workName .w_ok .finish{ width:65px; height:24px; color:#fff; background-color:#ADADAD; border-radius:5px; text-align:center; float:left;}
.r_content .workName .w_ok .n_bh{ width:75px; height:24px; float:right; color:#6D6D6D; }
.r_content .workName .score{ width:100%; height:90px; margin-top:20px;}
.r_content .workName .score .sc_left{ width:253px; height:90px; border-right:1px solid #BDBDBD; float:left;}
.r_content .workName .score .sc_right{width:253px; height:90px; float:left; margin-left:35px;}
.r_content .workName .score .h_score{254px; height:30px; color:#BDBDBD; font-size:18px; line-height:30px;}
.r_content .workName .score .h_score span{font-size:24px; color:#90CCAC; }





/*loading*/
.r_footer{ width:632px; height:116px; border-top:1px solid #C3C3C3;border-bottom:1px solid #fff;background-color:#F5F5F5; margin-left:8px;}
.r_footer .load{ width:632px; height:44px; text-align:center; line-height:45px; padding:36px 0px 6px 0px;  }
.r_footer .load a{ font-size:32px;color:#C5C5C5;}
.r_footer ul{ width:632px; height:25px; margin-bottom:8px;}
.r_footer ul li{list-style:none; float:left; margin-left:10px; color:#FCA53D; font-size:18px;}






